################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSSDProject/.vs/CSSDProject/v17
/CSSDProject/CSSDProject/obj
/CSSDProject/CSSDProject/bin/Debug/net6.0
/CSSDProject/.vs/CSSDProject/config
api/obj
api/UnitTest/bin/Debug/net6.0
api/UnitTest/obj

