################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSSDProject/.vs/CSSDProject/v17
/CSSDProject/CSSDProject/obj
